body {
    font-family: Arial, sans-serif;
}

header {
    height: 120px;
    width: 100%;
    background-color: #2d4235;
    color: #82b395;
    padding: none;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

p {
    margin-top: 10px;
}

#ProfilePicture {
    max-width: 200px;
}
