:root {
  --background: rgba(17, 36, 34, 80);
  --text: rgba(255, 255, 255, 60);
}

body {
  background-color: var(--background);
  position: relative; /* Added to make .hamburger position relative to the body */
  height: 100vh; /* Added to ensure the body takes up the full viewport height */
  margin: 0; /* Added to remove default body margin */
}

.heading {
  padding: 20px;
}

.Projects {
  padding: 20px;
}

.hamburger {
  position: absolute;
  top: 3%;
  right: 1%;
  display: flex; /* Added to make the nav links display in a row */
  flex-direction: column; /* Added to make the nav links stack vertically */
  align-items: flex-start; /* Added to align the nav links to the left */
}

a.nav:link,
a.nav:visited {
  text-decoration: none;
  margin: 10px;
  color: var(--text);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

@keyframes navHover {
  from {
    color: --text;
  }
  to {
    color: rgba(265, 265, 265, 90);
  }
}

a.nav:hover {
  margin: 10px;
  color: var(--text);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  animation-name: navHover;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
